<!-- Thank you for keeping this line in the template :-) //-->
<div style="display: none;"><{$ref_smartfactory}></div>
<!-- Thank you for keeping this line in the template :-) //-->

<div class="imfeeding_headertable">
	<{if $imfeeding_module_home}>
		<span class="imfeeding_modulename"><{$imfeeding_module_home}></span>
	<{/if}>
	<{if $imfeeding_category_path}>
		<span class="imfeeding_breadcrumb">
		<{if $imfeeding_module_home}>
			&gt;
		<{/if}>
	  	<{$imfeeding_category_path}></span>
	<{/if}>
</div>

<div style="clear: both;"></div>