<{if $imfeeding_feed}>
	<div class="imfeeding_feed_container">

		<{if $imfeeding_feed.image_url}>
			<{if $imfeeding_feed.image_link}><a href="<{$imfeeding_feed.image_link}>"><{/if}><img class="feed-image" src="<{$imfeeding_feed.image_url}>" alt="<{$imfeeding_feed.image_title}>" /><{if $imfeeding_feed.image_link}></a><{/if}>
		<{/if}>
		<h1 class="feed-title"><{if $imfeeding_feed.link}><a href="<{$imfeeding_feed.link}>"><{$imfeeding_feed.title}></a><{else}><{$imfeeding_feed.title}><{/if}></h1>
		<p class="feed-description"><{$imfeeding_feed.description}></p>

		<{foreach item=feed_item from=$imfeeding_feed.items}>
			<h2><{if $feed_item.permalink}><a href="<{$feed_item.permalink}>"><{$feed_item.title}></a><{else}><{$feed_item.title}><{/if}></h2>
			<p><{$feed_item.content}></p>
		<{/foreach}>
		<{if $imfeeding_is_admin}>
			<div class="imfeeding_admin_links"><{$imfeeding_feed.editItemLink}><{$imfeeding_feed.deleteItemLink}></div>
		<{/if}>
	</div>
<{/if}>