<{includeq file='db:imfeeding_header.html'}>

<{foreach item=imfeeding_feed from=$imfeeding_feeds}>
	<div class="imfeeding_feed_container">
		<h1><{$imfeeding_feed.itemLink}></h1>
		<div class="imfeeding_feed_description"><{$imfeeding_feed.feed_description}></div>
		<{if $imfeeding_is_admin}>
			<div class="imfeeding_admin_links"><{$imfeeding_feed.editItemLink}><{$imfeeding_feed.deleteItemLink}></div>
		<{/if}>
	</div>
<{/foreach}>
<{if $navbar}>
	<div id="imfeeding_navbar">Pages: <{$navbar}></div>
<{/if}>

<{includeq file='db:imfeeding_footer.html'}>